<!-- <p *ngIf="isVisible; else falseCondition"> 
    {{ student?.data?.name }} 
</p>

<ng-template #falseCondition>
    <p>Meowth!</p>
</ng-template>

<div [ngSwitch] = "value">
    <span *ngSwitchCase="1">The value is {{ value }}</span>
    <span *ngSwitchCase="2">The value is {{ value }}</span>
    <span *ngSwitchCase="3">The value is {{ value }}</span>
    <span *ngSwitchDefault>The value is standard.</span>
</div> -->
<input type="text" id="poke-filter" placeholder="Search" maxlength="20">

<ul class="poke-list">
    <li class="poke-list-item" *ngFor="let pkm of pokemonList">
        <img src="//serebii.net/pokedex-xy/icon/{{ pkm.number | number: '3.0-0' }}.png">        
        <span>{{ pkm.number | number: '3.0-0' }} - {{ pkm.name }}</span>&nbsp;&nbsp;        
        <img src="//serebii.net/pokedex-bw/type/{{ pkm.type1 }}.gif">
        <img *ngIf="pkm.type2" src="//serebii.net/pokedex-bw/type/{{ pkm.type2 }}.gif">
    </li>
</ul>